$b: #05549b;
$a: #01265e;
$uiColor: #0062a3;
$bgColor: #dadada;
$bgblackColor: #363636;
$lineColor: #00f6ff;
$tbFontColor: #00f6ff;
$textColor: #00f6ff;
$line2Color: #00cfa1;
$yellow: #e8ff69;
$white: #ffffff;

$successColor: #00cfa1;
$warnColor: #cf0000;


body {
  margin: 0;
  font-size: 0.8rem;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  text-align: center;
}
